<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <dllmap dll="soft_oal.dll" os="windows" target="Natives/Windows64/soft_oal.dll"/>
    <dllmap dll="soft_oal.dll" os="osx" target="Natives/OSX64/libopenal.dylib"/>
    <dllmap dll="soft_oal.dll" os="linux,freebsd,netbsd" target="Natives/Linux64/libopenal.so.1"/>
</configuration>