<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <dllmap dll="phonon.dll" os="windows" target="Natives/Windows64/phonon.dll"/>
    <dllmap dll="phonon.dll" os="osx" target="Natives/OSX64/libphonon.dylib"/>
    <dllmap dll="phonon.dll" os="linux,freebsd,netbsd" target="Natives/Linux64/libphonon.so"/>
</configuration>