<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <dllmap dll="phonon.dll" os="windows" cpu="x86" target="phonon.dll"/>
    <dllmap dll="phonon.dll" os="windows" cpu="x86-64" target="phonon.dll"/>
    <dllmap dll="phonon.dll" os="osx" target="libphonon.dylib"/>
    <dllmap dll="phonon.dll" os="linux,freebsd,netbsd" cpu="x86" target="libphonon.so"/>
    <dllmap dll="phonon.dll" os="linux,freebsd,netbsd" cpu="x86-64" target="libphonon.so"/>
</configuration>
